body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
    color: rgb(236, 87, 33);
}

span {
    color: rgb(236, 87, 33);
}

h4 {
    font-size: 25px;
    font-weight: 50%;
}

img {
    height: 350px;
    width: 350px;

}

section {
    display: flex;
    margin-bottom: 100px;
}

.Demo {
    width: 50%;
    padding-left: 100px;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(236, 87, 33);
    font-size: 23px;
    border: 2px solid rgb(236, 87, 33);
    padding: 4px 7px;
    border-radius: 5px;
    background-image: linear-gradient(orange yellow);
    font-weight: 700;
}

a:hover {
    color: yellow;
    background-color: green;
}

.s1 {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.s2 {
    display: flex;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.demo1 {
    width: 50%;
    padding-left: 100px;
    padding-right: 50px;git
}